.BannerProjetos-wrapper{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  padding-bottom: 0;
  background-color: #D9D9D9;
  align-items: center;
}
.BannerProjetos-content{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: flex-start;
  width: 70%;
  padding: 1rem ;
}
.BannerProjetos-img{
  display: flex;
  width: 31%;
  align-items: flex-end;
  justify-content: flex-end;
}
.BannerProjetos-img img{
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.BannerProjetos-title{
  font-size: 4rem;
  font-weight: 400;
}
.BannerProjetos-highlight{
  font-weight: bold;
  color: #0097A3;
}
.BannerProjetos-text1{
  text-align: justify;
}
.BannerProjetos-text2{
  justify-content: none;
  text-align: left;
}
.BannerProjetos-text3{
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .BannerProjetos-wrapper {
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 0;
  }

  .BannerProjetos-content{
    width: 100%;
  }

  .BannerProjetos-img {
    justify-content: center;
    width: 50%;
    margin-bottom: 0;
  }

  .BannerProjetos-img {
    justify-content: center;
    margin-top: 1rem;
  }

  .BannerProjetos-text2{
  justify-content: none;
  text-align: left;
  }

  .BannerProjetos-title {
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .BannerProjetos-content {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .BannerProjetos-title {
    font-size: 2.2rem;
  }

  .BannerProjetos-content {
    padding: 0.5rem;
    gap: 1rem;
  }

  .BannerProjetos-wrapper {
    padding: 1rem;
    padding-bottom: 0;
  }
}